.collections-header{
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.collection-row{
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    margin: 0 10px;
    padding: 10px ;
    border-bottom: 1px solid #ccc;
}